.Grid{
    border: 1px solid black;
    position:center;
    display:grid;
    grid-gap:5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: auto;
}